In [3]:
import numpy as np
import pandas as pd

In [5]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d ={'a': 10, 'b': 20,'c':30}

In [6]:
type(labels)

list

In [7]:
labels

['a', 'b', 'c']

In [8]:
type(my_data)

list

In [9]:
my_data

[10, 20, 30]

In [10]:
type(arr)

numpy.ndarray

In [11]:
arr

array([10, 20, 30])

In [12]:
type(d)

dict

In [13]:
d

{'a': 10, 'b': 20, 'c': 30}

In [14]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [16]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [18]:
# Labelled Indices unline NumPy Arrays
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [19]:
# We can pass directly a NumPy Array
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [20]:
# We can pass directly a Dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [21]:
# A Series can hold any Type of Data Object
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [22]:
# A Series can hold any Type of Data Object
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [4]:
ser1 = pd.Series([1,2,3,4],['Zulu', 'Koushu', 'Kruthi', 'Riya'])

In [24]:
ser1

Zulu      1
Koushu    2
Kruthi    3
Riya      4
dtype: int64

In [5]:
ser2 = pd.Series([1,2,3,4],['Zulu', 'Koushu', 'Karthik', 'Riya'])

In [26]:
ser2

Zulu       1
Koushu     2
Karthik    3
Riya       4
dtype: int64

In [27]:
# Accessing elements in Pandas is very similar to Dictionaries
ser1['Zulu']

1

In [6]:
ser1 + ser2

Karthik    NaN
Koushu     4.0
Kruthi     NaN
Riya       8.0
Zulu       2.0
dtype: float64

In [7]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,
)
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, *, **) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series.

    .. versionchanged:: 0.23.0
       If data is a dict, argument order is maintained for Python 3.6
       and later.

index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If both a dict and index
    sequence are used, the index will override the keys found in the
    dict.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data.
File:           c:\users\hp\anaconda3\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries